body {
    background-image: url("../images/pitch_background.jpg")
}
.jumbotron {
    padding-top: 30px;
    padding-bottom:30px;
    margin-bottom: 40px;
    
}

.row {
    margin-top: 30px;
}

#selectPlayerPic {
    align-content: center;
}
#clueBox {
    margin-top: 30px;
}
#clueVid {
    margin-top: 30px;
    
}